@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("reset.css");
@import url("common.css");

body {
     font-family: 'Poppins';
     font-size: 18px;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.wrapper > main {
	flex-grow: 1;
}

.wrapper__main {
}
.main {
}
.main__container {
}
.main__first-page {
	margin-top: 60px;
}
.main__top-content {
}
.main-top {
}
.main-top__title {
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 0.78;
	color: #000000;
	text-align: center;
}
@media (max-width: 767.98px) {
	.main-top__title {
		font-size: 48px;
		line-height: 0.86;
	}
}
.main-top__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #000000;
	max-width: 518px;
	text-align: center;
	margin: 40px auto 53px;
}
.main-top__image img {
	vertical-align: top;
	max-width: 100%;
}
.main__middle-content {
}

.main-middle {
}
.main-middle__description {
	display: flex;
	gap: 32px;
	margin: 100px 0 80px ;
}
@media (max-width: 767.98px) {
	.main-middle__description {
		margin-top: 45px;
		margin-bottom: 45px;
	}
}
.middle-description {
}
.middle-description__left {
	flex: 0 1 50%; /* 584/1200 */

}
.middle-description__right {
	flex: 0 1 50%;
}
@media (max-width: 767.98px) {
	.main-middle__description{
		display: block;
	}
	.middle-description__right {
		margin-top: 30px;
	
	}
	.middle-description__wrapper{
		display: block;
		margin-top: 20px;
	}
}

.middle-description__title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;

}
.middle-description__text p:not(:last-child){
	margin-bottom: 30px;
}
.middle-description__text {
	margin-top: 24px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.middle-description__wrapper{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}
@media (max-width: 991px) {
	.middle-description__wrapper{
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	
}
.middle-description__date {
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.middle-description__furnitur {
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}



.main-middle__block-one {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	

}
@media (max-width: 767.98px) {
	.main-middle__block-one{
		flex-wrap: wrap;
		justify-content: center;
	}
}
.block-one {
}
.block-one__img-01 img{
	max-width: 100%;
}
.block-one__img-02 img{
	max-width: 100%;
}
.main-middle__block-two {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.block-two {
	margin: 32px 0 32px;
}
.block-two__img-01 img{
	max-width: 100%;
	
}
.main-middle__block-three {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
@media (max-width: 767.98px) {
	.main-middle__block-three{
		flex-wrap: wrap;
		justify-content: center;
	}
}
.block-three {
}
.block-three__img-01 img{
	max-width: 100%;
}
.block-three__img-02 img{
	max-width: 100%;
}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





.main__second-page {
	margin-top: 100px;
}
@media (max-width: 767.98px) {
	.main__second-page {
		margin-top: 40px;
	}
}
.main__achievement {
}
.achievement {
}
.achievement__title::after{
	content:"";
	content: '';
	align-self: center;
	flex: 0 1 464px;
	background: #000;
	height: 2px;
}
.achievement__title {
	font-weight: 500;
	font-size: 16px;
	display: flex;
	column-gap: 25px;
	margin-bottom: 40px;
}
.achievement__block-body{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.achievement__block-one {
	display: flex;
	justify-content: space-between;
	gap: 20px ;
}
.achievement__block-left img{
	max-width: 100%;
}
.achievement__block-right {
	align-self: center;
	flex: 0 1 27.833333%; /* 334/1200 */
}

.right-block {
}
.right-block__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
}
.right-block__subtitle {
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.achievement__block-two {
	display: flex;
	justify-content: space-between;
	gap: 20px ;
}
.achievement__block-three {
	display: flex;
	justify-content: space-between;
	gap: 20px ;
}
@media (max-width: 991px) {
	.achievement__block-one {
		display: block;
	}
	.achievement__block-two {
		display: block;
	}
	.achievement__block-three {
		display: block;
		
	}
	.achievement__block-left img{
	}
	.achievement__block-right {
		margin-top: 15px;
	}
}